:root {
    --def-font: 'Raleway', sans-serif;;
}

html {
    background-color: #fbf2d5 ;
}

body {
    background-color: #fbf2d5 ;
}

.body {
    background-color:  #fbf2d5;
}

.head {
    padding: 200px;
    width: 80%;
    border-radius: 10px;
    margin: 50px;
    background-image: url('img/back.jpg');
    display: flex;
    justify-content: space-evenly;
    border-color:#45a1fd;
    border-style: solid;
}

.align {
    display: flex;
    justify-content: space-evenly;
    background-color: #fbf2d5;
}


h1 {
    text-align: center;
    margin: 0px;
    font-family: var(--def-font);
}

.Ukraine {
    font-size: 100px;
    color: black;
    font-family: var(--def-font)
}

.icon-for {
    max-width:60px;
    height: auto;
}

.nav-link {
    font-family: var(--def-font);
}

.flag {
    max-width: 70%;
    height: auto;
    padding: 10px;
    background-color: #e7d9ad ;
    border-radius: 5px;
}

.loc {
    max-width: 90%;
    height: auto;
    padding: 10px;
    background-color: #e7d9ad ;
    border-radius: 5px;
}

.symb {
    max-width: 50%;
    height: auto;
    padding: 10px;
    background-color: #e7d9ad ;
    border-radius: 5px;
}

h2 {
    text-align: center;
    font-family: var(--def-font);
}

.about-line {
    font-size: 60px;
    margin: 50px;
}

.container {
    margin: 40px;
    background-color: #fbf2d5;
}

p {
    text-align: center;
    padding: 40px;
    font-family: var(--def-font);
    font-size: 20px;
    margin: 50px;
}

.about-Ukraine {
   margin: 0 auto;
}

.navbar {
    background: linear-gradient(97deg, rgb(69, 161, 253) 0%, rgb(250, 217, 94) 100%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.anthem-audio {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

audio {
    padding-top: 20px;
}

.original, .trans {
    padding: 0px;
    text-decoration: underline;
    text-decoration-color: #e7d9ad;
}

.lyrics {
    border-radius: 10px;
    border-style: solid;
    border-color: #e7d9ad;
}

figcaption {
    font-family: var(--def-font);
    text-decoration:underline;
    text-decoration-color: #e7d9ad;
}

.anthem-title {
    font-size: 60px;
}

.video {
    display: flex;
    justify-content: space-evenly;
}

span {
    display: flex;
    justify-content: space-evenly;
}

.credit {
    margin-bottom: 0px;
    padding: 20px;
    font-weight: 800;
    text-decoration: underline;
}

.about {
    margin-bottom: 80px;
    background-color: #fbf2d5;
}

video {
    border-style: solid;
    border-color: #e7d9ad;
    border-radius: 10px;
}

.to-video {
    font-family: var(--def-font);
    text-decoration: none;
    color: #f6c100;
}

.to-video:hover {
    transition: all 200ms ease-in-out;
}

.culture-img {
    max-width:70%;
    height:auto;
    border-radius: 10px;
    border-color: #e7d9ad;
    border-style: solid;
}

.img-culture {
    display: flex;
    justify-content: space-evenly;
    margin:50px;
}

.culture-title, .more {
    font-size: 60px;
}

.more-p {
    font-size: 30px;
}

footer {
    background-color: #fbf2d5 ;
    margin: 10px;
    
}

.col {
    font-family: var(--def-font);
}

@media(max-width:667px) {
    .head {
        padding:150px;
        background-size:850px;
    }

    .Ukraine {
        font-size: 70px;
    }

.flag, .loc, .symb {
    padding: 3px
}

.container {
    margin:10px
}

.about-line {
    margin:30px
}

p {
    font-size: 15px
}

video {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.img-culture {
    margin: 0;
}

}